{{#each this}}
    <div class="country-card">
        <div class="flag">
            <img src="{{flags.svg}}" alt="">
        </div>
        <h2 class="country-name">{{name.official}}</h2>
    </div>
    <p><span class="country-meta">Capital:</span>{{capital}}</p>
    <p><span class="country-meta">Population:</span>{{population}}</p>
    <p>
        <span class="country-meta">Languages:</span>{{#each languages}} {{this}} {{/each}}</p>
{{/each}}